@import '../shared/vars.scss';

// Header Region
header {
  display: flex;
  align-items: center;
  height: 120px;
  background: $med-grey;
  color: white;
  padding: 0 1.25rem;

  //Account
  .account {
    width: 25%;
    text-align: right;
    line-height: 2rem;

    ul {
      li {
        display: inline;
        padding-left: .5rem;

        a {
          color: white;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    color:white;
    font-size:12px;
    font-family:$header-font;
  }

  // Logo
  .logo {
    width: 55%;

    img {
      height: 90px;
      width: 90px;
    }

    display:flex;
    align-content:flex-end;

    h1 {
      font-size: 3rem;
      padding-top: .25rem
    }

    font-family:$logo-font;
  }
}

//Start Navigation


.bookstore-nav {
  font-family: $header-font;
  font-size: 12px;
  background: $dark-grey;
  border-bottom: 3px solid $light-blue;
}

.menu {
  display: flex;
  flex-direction: column;

  li {
    display: block;
    list-style-type: none;
    text-transform: uppercase;
  }

  li a {
    display: flex;
    text-align: center;
    text-decoration: none;
    text-align: left;
    color: #fff;
    padding: 1rem 2rem;
  }

  li a:hover {
    color: #fff;
    background-color: $light-blue;
    font-weight: bold;
  }

  .sub-menu {
    width: 742px;
    @extend .box-shadow;

    li {
      display: inline-block;
      width: 30%;
    }
  }
}

nav ul ul {
  display: none;
}

nav ul li:hover>ul {
  display: block;
  color: #fff;
  padding-left: 2rem;
}

// End Navigation


// Media Queries
@media (min-width: 800px) {

  .menu {
    flex-direction: row;
    justify-content: space-between;
  }

  nav ul ul {
    display: none;
    position: absolute;
  }

  nav ul li:hover>ul {
    padding-left: 0;
    background: #494949;
  }

  nav ul li:hover>ul a {
    color: #fff;
  }

  .sub-menu {
    li {
      display: flex;
      padding-right: 2em;
    }

    li:hover,
    li a:hover {
      background: $light-blue;
    }
  }

  nav ul ul ul {
    margin: 0 0 0 100%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  }

  .mobile-search{display:none!important;}
}

@media (max-width:799px) {

  header {
    .logo {
      width: 50%;

      h1 {
        font-size: 2.5em;
      }
    }

    .account {
      width: 50%;
    }

    .desktop-search{display:none!important;}

  }

  .sub-menu {
    li {
      display: flex !important;
      width: 100% !important;
    }
  } 
}
